.Container{
    background-image: url("../assets/backgrountSvg.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.Landing_Page_Image{
    width: 550px;
    height: 550px;
}