.Form_Section_Container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("../../assets/formBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

}