<div class="Home_Section_Container">
    <div class="Home_Greeting-Container">
        <p class="Home_Greeting_Header">
            A Trusted Better Account 
To Manage Your Money
        </p>
        <p class="Home_Greeting_Content">
            Most banks put themselves first, Banks will charge you when you spend or 
Transfer money abroad but we don’t just do it differently, we do it better. 
OptiCash is fast, fair and all about you.
        </p>
    </div>
    <div class="Home_Landing_image_Container">
    <img class="Landing_Page_Image" src="../assets/landingPageImage.webp" alt="landing-image" srcset="">
    <hr>
    </div>
    
</div>